.buttonNewPost{
    transition: .4s;
    background-color: orange;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10vh;
    right: 5%;
    z-index: 100;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    word-spacing: 0;
   color: white;
}

.buttonNewPost::before{
    color: white;
    content: '🖋️';
}

.buttonNewPost:hover{
    transition: .4s;
    scale: .9;
    cursor: pointer;
}