@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;600;700;800;900&display=swap');


body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Hanken Grotesk', sans-serif;
    
}