@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;600;700;800;900&display=swap');


body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Hanken Grotesk', sans-serif;
    
}

.upper{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.flex{
    display: flex;
}

.out-pop-up{
    transition: .4s;
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: rgba(40, 40, 40,.4); 
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up{
    background-color: white;
    display: inline-block;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
}