.post-item{
    color: white ;
    width: 100%;
    box-sizing: border-box;
    padding: 10%;

}

.post-item h1{
    line-height: 1;
    text-transform: capitalize;
}

.posts-item p{
    text-transform: capitalize;
}